<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/6bfc8ebd07.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header">
            <h2>Proyecto blog Juan Castro</h2>
        </div>
        {% include "header.html" %}
    </header>
    <article>
        {% block content %}
      
        {% endblock content %}
    </article>
    <footer>
        {% include "footer.html" %}
    </footer>
</body>
</html>