{% extends 'base.html' %}

{% block title %}Sobre mi{% endblock title %}

{% block content %}
<div class="contenedor fst-italic">
    <h2>Informacion</h2>
    <h3>Este proyecto se realizo como practica de aprendizaje de las herramientas que proporciona Django. En este proyecto podras:</h3>
    <div>
        <li>Crear, editar y eliminar un Post</li>
        <li>Crear un usuario</li>
        <li>Crear un comentario para los Post (solo si estas reguistrado)</li>
        <li>Hacer un Like para los Post (solo si estas reguistrado)</li>
        <li>Se regista la cantidad de visualizaciones del post (solo si ya hizo login)</li>
    </div>
    <a style="color: white;" href="https://www.linkedin.com/in/juan-castro-18229ba7/">Mi Linkedin</a>
    <h2>Saludos</h2>
</div>
{% endblock content %}